{% extends "base.html" %}
{% block title %}Plant types{% endblock %}
{% block content %}
<h2>Plant types</h2>
<a href="{% url 'plants/new' %}" class="btn btn-primary">Add new plant type</a>
<br><br>
<table class="table">
<th>Name</th><th>Ideal humidity</th><th>Sun preference</th><th></th>
{% for plant in plants %}
<tr>
<td>{{plant.name}}</td>
<td>{{plant.ideal_humidity}}</td>
<td>{{plant.sun_preference}}</td>
<td><a href="{% url 'plants/edit' id=plant.id %}">Edit</a>|<a href="{% url 'plants/delete' id=plant.id %}">Delete</a></td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}
